*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    background: white url(../imagens/wave-haikei\ \(3\).svg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1%;
}
.titulo > h1{
    color: #333;
    text-align: center;
}
.container-calculadora{
    background-color: white;
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border-radius: 9px 9px 0px 0px;
    overflow: hidden;
    border: 1px solid black;
}
.container-calculo{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    background-color: #0066FF;
    color: white;
}
.container-calculo > #input-calculo{
    height: 40%;
    width: 100%;
    text-align: end;
    border: none;
    background-color: transparent;
    color: rgb(214, 213, 213);
    padding: 1rem;
    font-size: 1rem;
}
.container-resultado{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top: 1px solid #333;
    padding: 1rem;
}
.container-resultado > #valor-final{
    font-size: 1.5em;
}
.container-botoes{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}
.btn{
    width: 25%;
    background-color: rgba(225, 225, 225, 0.181);
    border: 1px solid #5555557a;
    transition: all 0.3;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(167, 167, 167);
}
#func-resultado{
    background-color: rgb(7, 255, 3);
    transition: all 0.3s;
}
#func-resultado:hover{
    background-color: rgb(4, 194, 1);
}
#func-apagar{
    background-color: orange;
    transition: all 0.3s;
}
#func-apagar:hover{
    background-color: rgb(201, 131, 2);
}
.footer{
    width: 90%;
    height: 10vh;
    background-color: #0159dd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer > h1{
    color: white;
    font-size: 1rem;
}
@media screen and (min-width:768px){
    .container-calculadora{
        width: 50%;
    }
    .footer{
        width: 50%;
    }
}